<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>The Title</title>
</head>

<body>
    <h1>My first h1</h1>
    <p>My first paragraph </p>
    <hr>
    <p>The second paragraph</p>
    <h2>My first h2</h2>
    <br>
    <!--notation-->
    <b>black</b><br>
    <i>italian</i><br>
    <code>printf()</code>
    <p><a href="http://www.baidu.com">Baidu</a></p>
    <img src="https://images.unsplash.com/photo-1442508748335-fde9c3f58fd9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efb6133a444ebb07753d8fa38eb6d2f6&auto=format&fit=crop&w=600&q=60">
</body>

</html>